body {
    margin: 5rem;
}

body, button {
    font-family: 'Lato', sans-serif;
}

.main {
    display: flex;
}

button {
    padding: 1rem;
    background-color: #92c468;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    min-width: 250px;
}

.detectionCheckbox {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.checkboxCase {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.framesList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 470px;
    width: 400px;
    overflow-y: scroll;
}

.framesList img {
    margin: 0 5px 5px 0;
}


.scaledDown {
    transform: scale(0.9);
    position: static;   
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.framesTools {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-sizing: border-box;
}

.framesTools button {
    margin-bottom: 10px;
}

.videoSection {
    background-color: rgba(146, 196, 104, 0.2);
}

.framesSection, .chartSection {
    padding: 10px 20px;
    box-sizing: border-box;
}

.label, .info {
    font-size: 20px;
    margin: 5px 0;
}

.collectedData {
    font-weight: 800;
}

.label input {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 0 10px;
    width: 50px;
    text-align: center;
}

.gestureText {
    font-weight: 800;
    font-size: 1.2em;
}

.gesture {
    color: red;
}